<article class="panel panel-default" ><!--used for changing the color dynamically    [ngStyle]="{backgroundColor:color}" (mouseenter)="color='black'"-->
    <div class="panel-body">
        {{message.content}}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{message.username}}
        </div>
        <div class="config" *ngIf="belongsToUser()">
            <a  (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>

        </div>
    </footer>

</article>